@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.main {
    border-radius: 20px;
    /* padding: 5em 3em; */
    margin: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 3vw; */
    width: 90vw;
}

input.search-box {
    font-size: 3vw;
    text-align: center;
    caret-color: white;
}

input:focus::placeholder {
    opacity: 0;
}

.search-box {
    display: flex;
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    /* margin-bottom: 20px; */
}

.search-box {
    color: white;
    text-transform: capitalize;
}

.search-box::placeholder {
    color: white;
    font-size: 3vw;
    text-align: center;
}

.search-box:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: ease-in-out 0.3s;
}

.btn {
    padding: 1rem;
    border: none;
    border-radius: 25px;
    background-color: purple;
    margin-top: 10px;
}

button.btn {
    font-size: 2vw;
    color: white;
    text-align: center;
    cursor: pointer;
}

.city {
    font-size: 3vw;
    color: white;
    font-weight: 400;
    margin-top: 2vh;
}

.temp {
    font-size: 4vw;
    text-align: center;
    color: white;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.521);
    font-weight: 500;
}

.weather {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}

.hi-low {
    color: white;
    font-size: 25px;
}

.humidity {
    color: white;
    font-size: 30px;
}

.wind {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}

.description {
    color: white;
    font-size: 30px;
}

@media (max-width:480px) {
    .city {
        font-size: 8vw;
    }
    .humidity,
    .wind,
    .hi-low {
        font-size: 6vw;
    }
    .temp {
        font-size: 10vw;
    }
    .humidity {
        display: flex;
        justify-content: space-evenly;
    }
    input.search-box {
        font-size: 10vw;
    }
    .search-box::placeholder {
        font-size: 10vw;
    }
    button.btn {
        font-size: 6vw;
        font-weight: 400;
    }
    .btn {
        padding: 12px;
    }
    .main {
        flex-direction: column;
    }
}
